/* Reset **********************************************************************/
* {
    box-sizing: border-box;
}

button, input, select {
    appearance: none;
}


/* General ********************************************************************/
:root {

}

body, html {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

/* Header *********************************************************************/
header {
    background-color: lightblue;
}

h1 {
    margin: 0;
    padding: 0;
}

/* Main ***********************************************************************/
main {

}

.image {
    display: block;

    border-width: 4px;
    border-style: solid;
    width: 200px;
    height:  200px;
}

.image-1 {
    border-color: red;
}

.image-2 {
    border-color: green;

    background-clip: border-box;
    background-image: url("../asset/img/crow.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-3 {
    border-color: blue;
}

/* Footer *********************************************************************/
footer {

}
